$transparent : transparent;

$white : #fff;
$darkwhite : #eff3f1;

$lightblack : #191919;
$black : #111111;
$modalBackground: rgba(25,25,25,0.7);

$lightgrey : #b4aaa1;
$grey : #222222;

$lightprimary : #6B98A2;
$primary : #2A4957;


$red : #925143;
$orange : #A07752;
